#title{
	background-color: #404040;
	color: blue;
	font-family: arial;
}

h2{
	text-align: center;
}

.form-check-label{
	padding-left: 40px;
	padding-right: 60px;
	margin-left: 20px;
}

#references{
	margin-left: 1px;
}

